body
{
    font-family: 'Poppins', sans-serif;
    margin: 0;
}

.flexible-container
{
    display: flex;
}
.orange-color
{
    color: orange;
}
h1
{
    font-size: 50px;
    margin: 0;
    
}
h2
{
    font-size: 30px;
    font-weight: bolder;
}


.half-width
{
    width: 50%;
}
.half-width img
{
    width: 60%;
    position: right;
}
.top-left
{
    margin-top: 110px;
}
.link-button
{
    color: white;
    background-color: rgb(207, 37, 37);
    text-decoration: none;
    padding: 10px 30px;
    border-radius: 5px;
    
}

.top-portion
{
    padding-left: 150px;
}
.heading
{
    border-left: 5px solid rgb(207, 37, 37);
    padding-left: 20px;
    border-radius: 5px;
    
}
.one-third
{
    width:30%;
    border-radius: 20px;
    margin: 3%;
    padding: 2%;
}
.one-third img
{
    width: 50%;
}

.services
{
    margin: 80px 110px;
}
.services h1
{
    text-align: center;
}
#first
{
    background-color: rgb(221, 232, 236);
}
#second
{
    background-color: rgb(235, 215, 220);
}
#third
{
    background-color: rgb(240, 214, 205);
}
.resources
{
    padding-left: 40px;
}

.resources img
{
    padding: 20px 100px;
    background-image: url(images/shapes/shape-1.png);
    background-repeat: no-repeat;
    background-size: 40%;
    background-position: left;

    
}